<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="css/app.min.css">
    </head>

    <body>
        <divi id="root"></div>
        <script src="js/app.js"></script>
        <script src="js/vendors.js"></script>
    </body>

</html>